body {
  padding-top: 60px;
}

* {
  font-family: 'Open Sans', sans-serif;
}

/* Styling for the navbar */
.nav-bar {
  color: #109CF1;
}

a {
  color: #109CF1;
}

a:hover {
  color: #34AFF9;
}

a.nav-link.active {
  color: #109CF1;
}

a.nav-link.active:hover {
  color: #34AFF9;
}

a.nav-link.dropdown-toggle {
  color: white;
}

a.nav-link.dropdown-toggle:hover {
  color: rgba(255, 255, 255, 0.887);
}

.navbar-brand {
  font-weight: 500;
  font-size: 23px;
}

li {
  list-style-type: none;
}

.navbar-toggler {
	position: absolute;
  right: 80px;
  color: #109CF1;
}

.nav-bar-toggler:hover {
  color: #34AFF9;
}

.navbar-collapse {
	position: inherit;
}

.login-btn {
  text-align: center;
  width: 70px;
  background-color: #109CF1;
  color: white;
  padding: 6px;
  border-radius: 8px;
  border: #109CF1;
}

.login-btn:hover {
  background-color: #34AFF9;
}


/* Homepage and Two-Column Layouts*/

.div-title {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 48px;
  color: #192A3E;
  line-height: 84px;
  width: 100%;

}

.div-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}



.row {
  align-items: center;
}

.input-field-title {
  padding-top: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #109CF1;
}


.form-btn {
  text-align: center;
  width: 100%;
  background-color: #109CF1;
  color: white;
  padding: 6px;
  border-radius: 8px;
  border: #109CF1;
}

.form-btn:hover {
  background-color: #34AFF9;
}

/* The following made the dropdown area  */
.form-input-field {
  width: 100%;
  overflow: hidden;
  border-bottom: .75px solid #000;
  position: relative;
  padding: 3px 0;
  }

.form-input-field:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #109CF1;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
  }

  .form-input-field:after:hover {
    color: #34AFF9;
  }

.form-input-field select{
  width: 100%;
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
}

/* This is to make the original select dropdown arrow disappear */
select {
  appearance: none;
}


/* Sign Up/Sign In Page */

.login-input-field {
  width: 100%;
  overflow: hidden;
  border-bottom: .75px solid #000;
  position: relative;
  padding: 3px 0;
  padding-top: 20px;
}

input {
  padding-top: 10px;
  width: 90%;
  border-style: hidden;
}

.no-outline:focus {
  outline: none;
}

#login-form-btn {
  padding-top: 50px;
}

.blue {
  color:#109CF1;
  font-weight: bold;

}

.form-hidden {
  display: none;
}

.toggle-signup {
  cursor: pointer;
  padding-top: 20px;
}

/* User Page */






