body {
  padding-top: 75px;
}

* {
  font-family: 'Poppins', sans-serif;
}


/* Styling for the navbar */
.nav-bar {
  color: #109CF1;
}

a {
  color: #109CF1;
}

a:hover {
  color: #34AFF9;
}

a.nav-link.active {
  color: #109CF1;
}

a.nav-link.active:hover {
  color: #34AFF9;
}

a.nav-link.dropdown-toggle {
  color: white;
}

a.nav-link.dropdown-toggle:hover {
  color: rgba(255, 255, 255, 0.887);
}

.navbar-brand {
  font-weight: 500;
  font-size: 23px;
}


/* Homepage */

.full-page-div {
  width: 100%
}

.left-div {
  width: 50%;
  float: left;
}

.right-div {
  margin-left: 50%;
}

.div-title {
  font-weight: 500;
  font-size: 56px;
  color: #192A3E;
  line-height: 84px;

}

.div-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}


.login-image {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(/static/images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-hidden {
  display: none;
}

.toggle-signup {
  cursor: pointer;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #f8f9fa;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar-toggler {
	position: absolute;
	top: 10px;
  right: 130px;
}
.navbar-collapse {
	position: inherit;
}

