<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>

</html>


<!-- Can copy and paste the following when creating a template for new pages: -->

<!-- {% extends 'base.html' %}

{% block title %}TITLE{% endblock %}

{% block head %}HEAD{% endblock %}


{% block body %}


{% endblock %} -->
