<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

<!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap" rel="stylesheet">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet"> -->

<!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/b8a98c2fb6.js" crossorigin="anonymous"></script>

<!-- CSS -->
<link rel="stylesheet" href="/static/style.css">

    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="container nav-bar">
      <nav class="navbar fixed-top navbar-expand-md" style="background-color: #F5F6F8">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Everykid <i class="fa-solid fa-book-open-reader"></i></a>

         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
          aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Find Books</a>
              <a class="nav-link active" aria-current="page" href="/story">Our Story</a>
            </div>
          </div>
          

          {% if session.get('user_id') %}
          <li class="nav-item dropdown" style="background-color: #109CF1">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" 
            aria-expanded="false">
              <i class="fa-regular fa-user"></i> Profile</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/route_to_user_page">My Books</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>

          {% else %}
          <form class="form-inline" action="/route_to_user_page">
            <button class="btn btn-light" type="submit">Log In</button>
          </form>  
            
          {% endif %}

      </nav>
    </div>




    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>

    
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
      

  </body>

</html>


