<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  

<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

<!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/b8a98c2fb6.js" crossorigin="anonymous"></script>

<!-- CSS -->
<link rel="stylesheet" href="/static/style.css">

    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <!-- expand sizes-- sm, md, lg, xl -->
      <!-- navbar-light OR navbar-dark -->
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand">EveryKid</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Find Books</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" 
                role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <!-- TODO: -->
                  <!-- THESE ARE NOT ACTUALLY ROUTING ANYWHERE YET -->
                  <li><a class="dropdown-item" href="/story.html">
                    Our Story</a></li>
                  <li><a class="dropdown-item" href="/identities.html">
                    Identities</a></li>
                </ul>
              </li>
            </div>
          
          </div>
          
          {% if session.get('user_id') %}
          <form class="form-inline" action="/route_to_user_page">
            <button class="btn btn-sm btn btn-light" type="submit"><i 
              class="fa-regular fa-user"></i> Profile</button>
          </form>
           
          {% else %}
          <form class="form-inline" action="/route_to_user_page">
            <button class="btn btn-light" type="submit">Log In</button>
          </form>  
            
          {% endif %}

        </div>
    </div>

      </nav>
    </div>
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>

    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
      

  </body>

</html>


