{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}


{% block body %}

<h1>{{ book.title }}</h1>

            By: {% for author in book.authors %}
                {{ author.author_name }}{% if not loop.last %}, {% endif %}
            {% endfor %} 

            <p>Published: {{ book.year_published }}</p> 
            
            <img src="{{ book.cover_path }}">

            <p>{{ book.overview }}</p>



            <!-- TODO:
            Randomly pick 4 books from the list of returned books with 
            characters of a similar race to display. 
            -->
    
  
        <h2>You May Also Like:</h2>

        PRINT TEST: {{ recommended_books_race }}

                {% for book in recommended_books_race %}
                    <div>
                        <h2>{{ book.title }}</h2>

                        <img src="{{ book.cover_path }}">

                    </div>

                {% endfor %} -->


       

{% endblock %}