{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}


{% block body %}

    <div id="book_details_div">
        <h1>{{ book.title }}</h1>

        {% if session.get('user_id') %}
            <div class="favorite-bookmark">
                {% if check_if_in_collection == None %}
                    <i class="fa-regular fa-bookmark" id="add-book-btn" 
                    data-in-collection="false"> Add to Collection</i>
                
                {% else %}
                    <i class="fa-solid fa-bookmark" id="add-book-btn" 
                    data-in-collection="true"> Saved to My Books</i>

                {% endif %}

                <input id="book-id" name="book-id" value="{{ book.book_id }}" hidden>
            </div>
        {% endif %}
        

        By: {% for author in book.authors %}
            {{ author.author_name }}{% if not loop.last %}, {% endif %}
        {% endfor %}

        <p>Published: {{ book.year_published }}</p> 
        
        <img src="{{ book.cover_path }}">

        <p>{{ book.overview }}</p>
    </div>  

<h2>You May Also Like:</h2>
    <div>
        {% for book in four_recs %}
            <div>
                <div>     
                    <a href="/book_results_page/{{ book.book_id }}">{{ book.title }}</a>
                </div>

                <img src="{{ book.cover_path }}">

            </div>
        {% endfor %} 
    </div>

    <script src="/static/js/book_details_page.js"></script>

{% endblock %}