{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}


{% block body %}

<h1>{{ book.title }}</h1>

    By: {% for author in book.authors %}
        {{ author.author_name }}{% if not loop.last %}, {% endif %}
    {% endfor %}

    <p>Published: {{ book.year_published }}</p> 
    
    <img src="{{ book.cover_path }}">

    <p>{{ book.overview }}</p>

<h2>You May Also Like:</h2>
    <div>
        {% for book in four_recs %}
            <div>
                <div>     
                    <a href="/book_results_page/{{ book.book_id }}">{{ book.title }}</a>
                </div>

                <img src="{{ book.cover_path }}">

            </div>
        {% endfor %} 
    </div>

{% endblock %}