{% extends 'base.html' %}


{% block title %}Homepage{% endblock %}


{% block head %}{% endblock %}

{% block body %}

    <h1>EveryKid</h1>
    <h2>Find children's books that celebrate diversity.</h2>

    <form action="/book_filters">
        <div>
        Select at least one filter to get started
        </div>

        <div>
        Primary Character's Race
            <select name="race">
                <!-- The value for option needs to exactly match what's in the 
                    SQL characters table -->
                <option value="American Indian or Alaska Native">
                    American Indian or Alaska Native</option>
                <option value="Asian">Asian</option>
                <option value="Black">
                    Black or African American</option>
                <option value="Hispanic, Latinx, or Spanish Origin">
                    Hispanic, Latinx, or Spanish Origin</option>
                <option value="Middle Eastern or North African">
                    Middle Eastern or North African</option>
                <option value="Multiracial">Multiracial</option>
                <option value="White">White</option>
                <option value="Native Hawaiian or Other Pacific Islander">
                    Native Hawaiian or Other Pacific Islander</option>
                <option value="ALL RACES">ALL RACES</option>
            </select> 
        </div>

        <div>
        Primary Character's Gender
            <select name="gender">
                <option value="Cisgender Female">Cisgender Female</option>
                <option value="Cisgender Male">Cisgender Male</option>
                <option value="Gender Fluid">Gender Fluid</option>
                <option value="Non-Binary">Non-Binary</option>
                <option value="Transgender Female">Transgender Female</option>
                <option value="Transgender Male">Transgender Male</option>
                <option value="ALL GENDERS">ALL GENDERS</option>
            </select>
        </div>


        <button type="submit">Find Books</button>
    </form>
    

{% endblock %}

