{% extends 'base.html' %}

{% block title %}Identity Markers{% endblock %}

{% block body %}
<h1>What do you mean by main character's race or gender?</h1>

<div>
<h2>Racial Identity Markers</h2>
<p>What do you mean by...?</p>

    <h3 class="racial-group-heading">Asian</h3>
    <h4 class="racial-group-subheading">For example: Chinese, Filipino, Asian 
        Indian, Vietnamese, Korean, Japanese, etc. </h4>
    <br>

    <h3 class="racial-group-heading">Black or African American</h3>
    <h4 class="racial-group-subheading">For example: African American, Jamaican, 
        Haitian, Nigerian, Ethiopian, Somalian </h4>
    <br>

    <h3 class="racial-group-heading">American Indian or Alaska Native</h3>
    <h4 class="racial-group-subheading">For example: Navajo Nation, Blackfeet 
        Tribe, Mayan, Aztec, Native Village of Barrow Inuplat Traditional 
        Government, Nome Eskimo Community, etc. </h4>
    <br>

    <h3 class="racial-group-heading">Hispanic, Latinx, or Spanish Origin</h3>
    <h4 class="racial-group-subheading">For example: Mexican or Mexican American, 
        Puerto Rican, Cuban, Salvadoran, Dominican, Colombian, etc. </h4>
    <br>

    <h3 class="racial-group-heading">Middle Eastern or North African</h3>
    <h4 class="racial-group-subheading">For example: Lebanese, Iranian, Egyptian, 
        Syrian, Moroccan, Algerian, etc. </h4>
    <br>

    <h3 class="racial-group-heading">Multiracial </h3>
    <h4 class="racial-group-subheading">For example: Identifying with more than 
        one racial identity </h4>
    <br>

    <h3 class="racial-group-heading">White </h3>
    <h4 class="racial-group-subheading">For example: German, Irish, English, 
        Polish, French, etc. </h4>
    <br>

    <h3 class="racial-group-heading">Native Hawaiian or Other Pacific Islander</h3>
    <h4 class="racial-group-subheading">For example: Native Hawaiian, Samoan, 
        chamorro, Tongan, Fijian, Marshallese, etc.</h4>
</div>

<div>
    <h2>Gender Identity Markers</h2>
    <p>What do you mean by...?</p>

    <p>Here at EveryKid, we know gender is a spectrum! We recognize that your 
        anatomy doesn't determine your gender identity and neither does the gender 
        binary. We have pulled some gender identity markers to help people find 
        books that have characters that kids may identify with.</p>

    <h3 class="gender-group-heading">Cisgender</h3>
    <h4 class="gender-group-subheading">A person whose gender identity aligns 
        with the sex that they were assigned at birth.</h4>
    <br>

    <h3 class="gender-group-heading">Gender Fluid</h3>
    <h4 class="gender-group-subheading">A person whose gender identity or gender 
        expression is not fixed and changes over time across the spectrum.</h4>
    <br>

    <h3 class="gender-group-heading">Gender Non-Conforming</h3>
    <h4 class="gender-group-subheading">Description</h4>
    <br>

    <h3 class="gender-group-heading">Non-Binary</h3>
    <h4 class="gender-group-subheading">Description</h4>
    <br>

    <h3 class="gender-group-heading">Transgender</h3>
    <h4 class="gender-group-subheading">Description</h4>
    <br>



    





        <option value="Cisgender Female">Cisgender Female</option>
        <option value="Cisgender Male">Cisgender Male</option>
        <option value="Gender Fluid">Gender Fluid</option>
        <option value="Gender Non-Conforming">Gender Non-Conforming</option>
        <option value="Non-Binary">Non-Binary</option>
        <option value="Transgender Female">Transgender Female</option>
        <option value="Transgender Male">Transgender Male</option>
        <option value="ALL GENDERS">ALL GENDERS</option>



</div>




{% endblock %}