{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<div class="login-page-container">
    <h1>EveryKid</h1>
    <h3>Because every kid deserves to see themselves in a book.</h3>    
    <div class="form-box">
        <div class="login-form">
            <h2>Log In Form</h2>
            <form action="/login" method="POST">
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <label hidden for="email">Email</label>
                    <input type="text" name="email" placeholder="Email">
                </div>

                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <label for="password" hidden>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                
                <button class="button" type="submit" value="login">Login</button>
            </form>
        </div>

        <div class="sign-up-form form-hidden">
            <h2>Sign Up</h2>
            <form action="/signup" method="POST">
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <label for="email" hidden>Email</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                
                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <label for="fname" hidden>First Name</label>
                    <input type="text" name="fname" placeholder="Enter first name">
                </div>

                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <label for="lname" hidden>Last Name</label>
                    <input type="text" name="lname" placeholder="Enter last name">
                </div>

                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <label for="password" hidden>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button class="button" type="submit" value="sign-up">Sign Up</button>
            </form>
        </div>
        <div class="toggle-signup">Don't have an account? Sign Up</div>

        

<img class="login-image" src="/static/images/background.jpg" alt="Little girl reading">

<script src="/static/login_page.js"></script>

{% endblock %}