{% extends 'base.html' %}

{% block title %}Everykid's Story{% endblock %}

{% block body %}


<div class="row">
<!-- Left column -->
    <div class="col-12 col-md-6 col-lg-6">
        <div class="row justify-content-center">
            <div class="col-8">
                <!-- #TODO: FIX!  -->
                <!-- <h1 class="s-heading">Everykid's Story</h1> -->
                <p class="s-subheading">👋🏼 Hi! I'm Becky Tarnowski, and I am an educator turned software engineer.
                    <br>
                    <br>
                    As an educator, I know how important it is for kids to see themselves 
                    represented in books, but there is a disparity around who is
                    represented in books. I created Everykid to allow people to easily
                    find books that celebrate diversity.
                    <br>
                    <br>
                <b>Because every kid deserves to see themselves in a book.</b></p>
            </div>
        </div>
    </div>

    <!-- Right Column -->
    <div class="col-12 col-md-6 col-lg-6 right-column">
        <img class="img-for-no-books" src="/static/images/me_teaching_2.png">
    </div>

{% endblock %}