{% extends 'base.html' %}

{% block title %}EveryKid's Story{% endblock %}

{% block body %}
<h1>EveryKid's Story</h1>

<p>👋🏼 Hi! I'm Becky Tarnowski, and I am an educator turned software engineer.</p>

<p>As an educator, I know how important it is for kids to see themselves 
    represented in books, but there is however a disparity around who is
    represented in books. I created EveryKid to allow people to easily
    find books that celebrate diversity. 
</p>

<p>Because every kid deserves to see themselves in a book.</p>

<img src="/static/images/me_teaching.png">

{% endblock %}