{% extends 'base.html' %}

{% block title %}Everykid's Story{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="row justify-content-center">
            <div class="col-8">
                <h3 class="story-heading">Our Story</h3>
                <p class="s-subheading">👋🏼 Hi! I'm Becky Tarnowski, and I am an 
                    educator turned software engineer. As an educator, I know 
                    how important it is for kids to see themselves represented 
                    in books. However, there is a disparity around who is 
                    actually represented. 
                    <br>
                    <br>
                    That’s where Everykid comes in. Everykid is a full-stack 
                    web application that helps teachers, parents, and caregivers, 
                    easily find children's books that celebrate diversity because every kid deserves to see 
                    themselves in a book.
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 right-column">
        <img class="img-for-no-books" src="/static/images/me_teaching_3.png">
    </div>

{% endblock %}