{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}{% endblock %}


{% block body %}
<h1>Welcome, {{ user.fname }}!</h1>

<!-- <p id="collection-form-label"> Create New Collection <i class="fa-solid fa-plus"></i></p>
    
    <div id="collection-form-div" hidden>    
    <form id="collection-form" method="post">
        <label for="collection"></label>
        <input id="collection-input" type="text" name="new-collection" placeholder="Collection Name">
        <button id="create-collection-btn" class="button" type="submit">Create</button>
    </form>
    </div> -->

<div>
    <h2>My Collections</h2>
        <div id="user-collections">
          
        </div>
    <h2>My Profile</h2>
</div>



    




<script src="/static/js/user_page.js"></script>

{% endblock %}