{% extends 'base.html' %}

{% block title %} {{ user.fname }}'s Books {% endblock %}

{% block head %}{% endblock %}


{% block body %}
<h1>Welcome, {{ user.fname }}</h1>

<div>
    <h2>{{ collection.collection_name }}</h2>

    {% if collection.books_to_collections|length == 0 %}

        <p>There aren't any books in your collection yet! <a href="/">
            Find Books</a> to add to your collection</p>
    
    {% else %}

        
            
            {% for assoc in collection.books_to_collections %}
                <div id="user-collections">

                    <h3>{{ assoc.book.title }}</h3>

                    <p>{{ assoc.book.overview }}</p>

                    <img src="{{ assoc.book.cover_path }}">

                    <div> 
                        <a href="/book_results_page/{{ assoc.book.book_id }}">Details</a>
                    </div>
                </div>

            {% endfor %}
            
        

    {% endif %}
</div>

{% endblock %}